version: "3.4"
services:
  rocketpool-testnet.public.dappnode.eth:
    image: rocketpool-testnet.public.dappnode.eth:0.1.0
    build:
      context: ./build
      args:
        UPSTREAM_VERSION: v1.17.1
        NETWORK: hoodi
    volumes:
      - rocketpool-testnet:/rocketpool
    environment:
      - NETWORK=hoodi
      - WALLET_PASSWORD=
      - EXTRA_OPTS=
    restart: unless-stopped
volumes:
  rocketpool-testnet: {}
